html {
width: 100%;
height: 100%;
}

body {
width: 100%;
height: 100%;
font-family: "Orbitron", cursive;
background-color: #000000;
color: #FFFFFF;
}

h1,h2 {
margin: 0 0 50px;
text-transform: uppercase;
font-family: "Orbitron", cursive;
font-weight: normal;
letter-spacing: 0.5px;
}

p {
margin: 0 0 35px;
font-size: 15px;
line-height: 1.5;
}

::-moz-selection {
background: #B5947D;
}

a {
color: #593C1F;
text-shadow: 1px 1px 1px #BF9E87;
link text-decoration : none;
-webkit-transition: all .2s ease-in-out;
-moz-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
}

a:hover,a:focus {
color: #593C1F;
text-decoration : none;
}

a:active {
color: #ffffff;
}

.navbar {
margin-bottom: 0;
border-bottom: 1px solid rgba(255,255,255,.3);
text-transform: uppercase;
font-family: "Orbitron", cursive;
background-color: #BA55D3;
}

.navbar-brand {
font-weight: 700;
}

.navbar-brand:focus {
outline: 0;
}

.navbar-custom a {
color: #FFFFFF;
}

.navbar-custom .nav li a {
-webkit-transition: background .3s ease-in-out;
-moz-transition: background .3s ease-in-out;
transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,.navbar-custom .nav li a:focus,.navbar-custom .nav li.active {
outline: 2;
background-color: rgba(255,255,255,.2);
}

.navbar-toggle {
padding: 4px 6px;
font-size: 16px;
color: #FFFFFF;
}

.navbar-toggle:focus,.navbar-toggle:active {
outline: 5;
}

@media(min-width:767px) {
.navbar {
padding: 20px 0;
border-bottom: 0;
letter-spacing: 1px;
background: 0;
-webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
-moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
transition: background .5s ease-in-out,padding .5s ease-in-out;
}

.top-nav-collapse {
padding: 0;
background-color: #65442D;
}

.navbar-custom.top-nav-collapse {
border-bottom: 1px solid rgba(255,255,255,.3);
}
}

.intro {
display: table;
width: 100%;
height: auto;
padding: 100px 0;
text-align: center;
color: #ffffff;
background-color: ;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
-o-background-size: cover;
}

.intro-body {
display: table-cell;
vertical-align: middle;
}

.brand-heading {
font-size: 35px;
}

.intro-text {
font-size: 18px;
color: #ffffff;
font-family: "Orbitron", cursive;
}

.intro-text i {
font-size: 30px;
color: #FFFFFF;
-webkit-transition: all .2s ease-in-out;
-moz-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
}

.intro-text i:hover {
font-size : 30px;
color = #FFFFFF
}

.intro-text .fa-file-text {
font-size: 28px;
color: #ffffff;
position: relative;
bottom: 2px;
}


@media(min-width:767px) {
.intro {
height: 100%;
padding: 0;
}

.brand-heading {
font-size: 80px;
}

.intro-text {
font-size: 25px;
}

.intro-text i {
font-size: 35px;
}
}

.btn-circle {
width: 70px;
height: 70px;
margin-top: 45px;
padding: 7px 16px;
border: 2px solid #FFFFFF;
border-radius: 35px;
font-size: 40px;
color: #FFFFFF;
animation-name: spin;
-webkit-transition: background .3s ease-in-out;
-moz-transition: background .3s ease-in-out;
transition: background .3s ease-in-out;
}

.btn-circle:hover,.btn-circle:focus {
animation-name: spin;
outline: 2;
color: #ffffff;
background: rgba(255,255,255,.1);
}

.content-section {
padding-top: 100px;
}

#map {
width: 100%;
height: 200px;
margin-top: 100px;
}

@media(min-width:767px) {
.content-section {
padding-top: 250px;
}

.download-section {
padding: 100px 0;
}

#map {
height: 400px;
margin-top: 250px;
}
}

body {
webkit-tap-highlight-color: rgba(255,255,255,.2);
}