html, body{
  height: 100%;
}

body {
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #fff;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
}
/* ---- particles.js container ---- */
#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
  background-color: #000000;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Style the list */
#tabDiv {
 overflow: hidden;
 position: fixed; /* Set the navbar to fixed position */
 top: 0; /* Position the navbar at the top of the page */
 width: 100%; /* Full width */
 z-index: 2;
}
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}

/* Float the list items side by side */
ul.tab li {float: right;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {
  background-color: rgba(20,210,210,0.8);
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
  background-color: rgba(19,136,153,0.6);
}

#sideNavPush {
  display: none;
}

#sideNavigation{
  z-index:2;
}

.sideNavContent {
  /*display: inline-block;*/
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
  font-weight: bolder;
  color: #f7f6f6;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    top: 75px;
    right: 0;
    background-color: rgba(0,0,0,0.5);; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    /*padding-top: 60px; /* Place content 60px from the top */*/
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 0;
    margin: 0;
    text-align: center;
    text-decoration: none;
    font-size: 15;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

#closeSideNav {
  display: none;
}

@media all and (max-width: 480px) {
  #topNav {
    display: none;
  }
  #sideNavPush {
    display: block;
  }
}

.tabContent {
    font-size: 14px;
    color: white;
}

/* Contact Icons */
#centeredmenu {
   overflow:hidden;
}
#centeredmenu ul {
   clear:left;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   left:50%;
   text-align:center;
}
#centeredmenu ul li {
   display:block;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   right:50%;
}
#centeredmenu ul li a {
   display:block;
   margin:0 0 0 1px;
   padding:3px 10px;
   color:#000;
   line-height:1.3em;
}
/* Transparent Modal */
.modalbox .box {
    background-color: rgba(0,0,0,0.7);
    min-width: 210px;
    padding: 40px;
    width: 70%;
    margin-top: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 180px;
}
.modalbox .title {
    border-bottom: 1px solid #ccc;
    font-size: 28px;
    letter-spacing: 0.2em;
    margin: 0;
    padding: 0 0 10px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}
.modalbox .content {
    display: block;
    font-size: 18px;
    line-height: 22px;
    padding: 10px 0 0;
    color: #fff;
}
.modalbox .close {
    color: #fff;
    display: block;
    float: right;
    font-size: 22px;
    height: 25px;
    text-decoration: none;
}
.modalbox {
    display: none;
    position: absolute;
    /*z-index: 1;*/
    width: 100%;
    /*height: 100%;*/
    top: -76px;
    left: 0;
    color:#333333;
}
.modalbox:target {
    display: block;
    outline: none;
}
.link-modal {
    width: 90%;
    text-align: center;
    margin: 0 auto;
    padding-top: 400px;
    padding-left: 15px;
}

.link-modal a{
    border: 1px solid #fff;
    color: #fff;
    font-size: 20px;
    letter-spacing: 0.3em;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.iconsize {
    height: 75px;
    width: 75px;
}

th, td { padding: 0px; }

/* cellspacing */
table { border-collapse: separate; border-spacing: 20px; } /* cellspacing="5" */
/*table { border-collapse: collapse; border-spacing: 0; }   /* cellspacing="0" */*/

/* valign */
th, td { vertical-align: top; }

/* align (center) */
table {
  margin: 0 auto;
  border: none;
}

a,a:visited,a:hover,a:active{
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
	position:relative;
  transition:0.5s color ease;
	text-decoration:none;
	color:#81b3d2;
	font-size:1.5em;
}
a:hover{
	color:#81b3d2;
}
a.before:before,a.after:after{
  content: "";
  transition:0.5s all ease;
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:absolute;
}
a.before:before{
  top:-0.25em;
}
a.after:after{
  bottom:-0.25em;
}
a.before:before,a.after:after{
  height:5px;
  height:0.35rem;
  width:0;
  background:#81b3d2;
}
a.first:after{
  left:0;
}

.diffFontClass {
  font-family: 'Cinzel', serif;
  color:white;
}

strong {
  font-size: 20px;
}

.railWayFont {
  font-family: 'Raleway', sans-seriff;
  color:white;
}

.container {
  display: grid;
  grid-template-columns: 40% 60%;
}

.item-a {
  grid-column-start: 1;
  grid-column-end: 2;
  margin: 15px 15px 15px 15px;
}
.item-b {
  grid-column-start: 2;
  grid-column-end: 3;
  margin: 15px 15px 15px 15px;
}
